<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>PainCare</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ConnectionJDBC</display-name>
    <servlet-name>ConnectionJDBC</servlet-name>
    <servlet-class>com.JDBC.MYSQL.ConnectionJDBC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionJDBC</servlet-name>
    <url-pattern>/ConnectionJDBC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestJDBC</display-name>
    <servlet-name>TestJDBC</servlet-name>
    <servlet-class>com.JDBC.MYSQL.TestJDBC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestJDBC</servlet-name>
    <url-pattern>/TestJDBC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Diagnostic_Servlet</display-name>
    <servlet-name>Diagnostic_Servlet</servlet-name>
    <servlet-class>PainCare.Servlet.Diagnostic_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Diagnostic_Servlet</servlet-name>
    <url-pattern>/Diagnostic_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register_Servlet</display-name>
    <servlet-name>Register_Servlet</servlet-name>
    <servlet-class>PainCare.Servlet.Register_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register_Servlet</servlet-name>
    <url-pattern>/Register_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login_Servlet</display-name>
    <servlet-name>Login_Servlet</servlet-name>
    <servlet-class>PainCare.Servlet.Login_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_Servlet</servlet-name>
    <url-pattern>/Login_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Pain_Servlet</display-name>
    <servlet-name>Pain_Servlet</servlet-name>
    <servlet-class>PainCare.Servlet.Pain_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pain_Servlet</servlet-name>
    <url-pattern>/Pain_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Get_InfosProfil_Servlet</display-name>
    <servlet-name>Get_InfosProfil_Servlet</servlet-name>
    <servlet-class>PainCare.Servlet.Get_InfosProfil_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get_InfosProfil_Servlet</servlet-name>
    <url-pattern>/Get_InfosProfil_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Get_LastPainLevels_Servlet</display-name>
    <servlet-name>Get_LastPainLevels_Servlet</servlet-name>
    <servlet-class>PainCare.Servlet.Get_LastPainLevels_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get_LastPainLevels_Servlet</servlet-name>
    <url-pattern>/Get_LastPainLevels_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResultDiagnostic_Servlet</display-name>
    <servlet-name>ResultDiagnostic_Servlet</servlet-name>
    <servlet-class>PainCare.Servlet.ResultDiagnostic_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultDiagnostic_Servlet</servlet-name>
    <url-pattern>/ResultDiagnostic_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Posts_Servlet</display-name>
    <servlet-name>Posts_Servlet</servlet-name>
    <servlet-class>PainCare.Servlet.Posts_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Posts_Servlet</servlet-name>
    <url-pattern>/Posts_Servlet</url-pattern>
  </servlet-mapping>
</web-app>